<img src="https://cdn.shopify.com/s/files/1/0643/4043/files/logo_madeinamerica.png?12268567877335310667" />
{% if billing_address.name %}
<p>Dear {{ billing_address.name }},</p>
<p></p>
{% endif %}
<p>{% if fulfillment.item_count == item_count %}All{% elsif fulfillment_status == 'fulfilled' %}The last{% else %}Some{% endif %} of the items from order {{ name }} have now been shipped:</p>
<p>
{% for line in fulfillment.line_items %}<img src="{{ line.line_item | img_url: 'small' }}" />{% assign item_price = 0 %}{% for price_item in line_items %}{% unless price_item.properties.builder_id == blank %}{% if price_item.properties.builder_id == line.properties.builder_id %}{% capture temp %}{{ item_price | plus: price_item.price }}{% endcapture %}{% assign item_price = temp %}{% endif %}{% endunless %}{% endfor %}{% if line.properties.builder_id == blank or line.properties.master_builder %}{{ line.quantity }}x {{line.title }} for {{ item_price | money }} each (sku: {{ line.sku }}) {% for p in line.properties %}{% if p.first == "builder_id" or p.first == "builder_info" or p.first == "master_builder" or p.last == "" %}{% else %} {{ p.first }}: {% if p.last contains '/uploads/' %}*<a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>{% else %}{{ p.last }}{% endif %}{% endif %}{% endfor %}{% endif %}<br>{% endfor %}
</p>
<p>{% if requires_shipping %}They are being shipped {% if fulfillment.tracking_company %}via {{ fulfillment.tracking_company }} {% endif %}to the following address: </p>

<p>{{ shipping_address.name }}<br />
{{ shipping_address.street }}<br />
{{ shipping_address.city }}<br />
{{ shipping_address.province }}
{{ shipping_address.zip }}<br />
{{ shipping_address.country }}</p>

{% if fulfillment.tracking_numbers.size > 0 %}
{% if fulfillment.tracking_numbers.size == 1 %}
<p>The tracking number for these items is {{ fulfillment.tracking_numbers.first }}. <a href="{{ fulfillment.tracking_urls.first }}">Click here to see the status of your shipment.</a></p>
{% else %}
<p>The tracking details for these items are as follows:</p>
<p>{% for tracking_number in fulfillment.tracking_numbers %} {{ tracking_number }}<br>{% endfor %}</p>

<p>Click the links below for shipping status on these items:</p>
<p>{% for tracking_url in fulfillment.tracking_urls %} <a href="{{ tracking_url }}">{{ tracking_url }}</a><br>{% endfor %}</p>
{% endif %}

<p>Please allow some time for the status of the shipment to correctly display at the above address.</p>
{% endif %}{% endif %}{% if fulfillment_status != 'fulfilled' %}
<p>You will receive a confirmation email when more items from your order have been shipped.</p>
{% endif %}

<p>Thank you for ordering from {{ shop_name }}!</p>
