<html>
	<head>
	</head>
	<body>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
			<tbody>
				<tr>
					<td bgcolor="#000000"><img style="display: block;" src="http://media.lt01.net/1/Users/4514/test/spacer.gif" height="10" width="1"></td>
				</tr>
			</tbody>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
			<tbody>
				<tr>
					<td bgcolor="#000000" width="10"> </td>
					<td width="600">
					<table border="0" cellpadding="12" cellspacing="0" width="600">
						<tbody>
							<tr>
								<td><a title="SurvivalStraps.com" href="http://www.survivalstraps.com/checkout/cart/?trk_module=ppe">
								<img alt="SurvivalStraps.com" style="display: block;" src="https://s3.amazonaws.com/sstrapfiles/staticresources/logo.jpg" border="0" height="110" width="257"></a></td>
							</tr>
						</tbody>
					</table>
					</td>
					<td bgcolor="#000000" width="10"> </td>
				</tr>
			</tbody>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
			<tbody>
				<tr>
					<td bgcolor="#000000" width="8"> </td>
					<td align="center" width="603">
					<table border="0" cellpadding="0" cellspacing="0" width="600">
						<tbody>
							<tr>
								<td bgcolor="#000000" height="19"> </td>
							</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="12" cellspacing="0" width="600">
						<tbody>
							<tr>
								<td>
								<table border="0" cellpadding="18" cellspacing="0" width="576" bgcolor="#FFFFFF">
									<tbody>
										<tr>
										<p>Thank you for placing your order with {{ shop_name }}!</p>
<p>This email is to confirm your recent order.</p>
<p>Date {{ date | date: "%m/%d/%Y" }}</p>
{% if requires_shipping and shipping_address %}
<p><b>Shipping address</b><br />
{{ shipping_address.name }}<br />
{{ shipping_address.street }}<br />
{{ shipping_address.city }}<br />
{{ shipping_address.province }}
{{ shipping_address.zip }}<br />
{{ shipping_address.country }}</p>
{% endif %}
{% if billing_address %}
<p><b>Billing address</b><br />
{{ billing_address.name }}<br />
{{ billing_address.street }}<br />
{{ billing_address.city }}<br />
{{ billing_address.province }}
{{ billing_address.zip }}<br />
{{ billing_address.country }}</p>
{% endif %}
<ul style="list-style-type:none">{% for line in line_items %}<li>{% assign item_price = 0 %}{% for price_item in line_items %}{% unless price_item.properties.builder_id == blank %}{% if price_item.properties.builder_id == line.properties.builder_id %}{% capture temp %}{{ item_price | plus: price_item.price }}{% endcapture %}{% assign item_price = temp %}{% endif %}{% endunless %}{% endfor %}{% if line.properties.builder_id == blank or line.properties.master_builder %}{{ line.quantity }}x {{line.title }} for {{ item_price | money }} each{% for p in line.properties %}{% if p.first == "builder_id" or p.first == "builder_info" or p.first == "master_builder" or p.last == "" %}{% else %}{{ p.first }}: {% if p.last contains '/uploads/' %}<a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>{% else %}{{ p.last }}{% endif %}{% endif %}{% endfor %}{% endif %}{% endfor %}</li></ul>
{% if discounts %}
<p>Discounts : {{ discounts_savings | money_with_currency }}</p> {% endif %}
<p>Subtotal : {{ subtotal_price | money_with_currency }}</p>
{% for tax_line in tax_lines %} <p>{{ tax_line.title }} : {{ tax_line.price | money_with_currency }} </p>
{% endfor %} {% if requires_shipping %}
<p>Shipping : {{ shipping_price | money_with_currency }}</p>
{% endif %} <p>Total : {{ total_price | money_with_currency }}</p>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; border-bottom:1px solid #d2d2b0;" align="left" bgcolor="#FFFFFF"><font style="font-size:16px; font-weight:bold; line-height:18px;">Thanks for your support!</font><br>
											<br>
											<font style="font-size:13px; line-height:16px;">You now own an American-made product that:<br>
											<br>
											   •	Looks terrific<br>
											   •	Can save your life<br>
											   •	Supports America's heroes<br>
											<br>
											Why own just one? Rave reviews are coming in for these items, we just have to share!</font></td>
										</tr>
									</tbody>
								</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="600">
						<tbody>
							<tr>
								<td height="10"></td>
							</tr>
						</tbody>
					</table>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="576">
						<tbody>
							<tr>
								<td align="center" valign="top" width="144">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Light Duty Survival Bracelet" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/light-duty-survival-bracelet-2">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/dsc_6463_compact.jpeg?v=1410481673" alt="Light Duty Survival Bracelet" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Light Duty Survival Bracelet" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/light-duty-survival-bracelet-2">Light Duty Survival Bracelet</a></td>
										</tr>
									</tbody>
								</table>
								</td>
								<td align="center" valign="top" width="144">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Light Duty Survival Bracelet - Fish Tail" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/light-duty-survival-bracelet-fishtail">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/dsc_9029_compact.jpg?v=1416512808" alt="Light Duty Survival Bracelet – Fish Tail" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Light Duty Survival Bracelet - Fish Tail" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/light-duty-survival-bracelet-fishtail">Light Duty Survival Bracelet - Fish Tail</a></td>
										</tr>
									</tbody>
								</table>
								</td>
								<td align="center" valign="top" width="144" bgcolor="#FFFFFF">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Luggage/Gear Tag" href="http://survivalstraps.com/collections/accessories/products/dog-tag-luggage-gear-tag-1">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/dsc_8061_compact.jpeg?v=1410482013" alt="Luggage/Gear Tag" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Luggage/Gear Tag" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/accessories/products/dog-tag-luggage-gear-tag-1">Luggage/Gear Tag</a></td>
										</tr>
									</tbody>
								</table>
								</td>
								<td align="center" valign="top" width="144">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Light Duty Survival Bracelet - Wounded Warrior Project" href="http://survivalstraps.com/collections/wounded-warrior-project/products/light-duty-survival-bracelet-wounded-warrior-project">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/dsc_8207_compact.jpeg?v=1410481843" alt="Light Duty Survival Bracelet - Wounded Warrior Project" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Light Duty Survival Bracelet - Wounded Warrior Project" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/wounded-warrior-project/products/light-duty-survival-bracelet-wounded-warrior-project">Light Duty Survival Bracelet - Wounded Warrior Project</a></td>
										</tr>
									</tbody>
								</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="600">
						<tbody>
							<tr>
								<td height="20"></td>
							</tr>
						</tbody>
					</table>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="576">
						<tbody>
							<tr>
								<td align="center" valign="top" width="144">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Regular Survival Bracelet" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/regular-survival-bracelet">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/dsc_6902_compact.jpeg?v=1410481704" alt="Regular Survival Bracelet" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Regular Survival Bracelet" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/regular-survival-bracelet">Regular Survival<br>
											Bracelet</a></td>
										</tr>
									</tbody>
								</table>
								</td>
								<td align="center" valign="top" width="144">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Regular Survival Bracelet - Fish Tail" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/survival-bracelet-fishtail">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/dsc_8567_compact.jpeg?v=1410482066" alt="Regular Survival Bracelet - Fish Tail" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Regular Survival Bracelet - Fish Tail" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/custom-color-survival-bracelet-trade/products/survival-bracelet-fishtail">Regular Survival<br>
											Bracelet - Fish Tail</a></td>
										</tr>
									</tbody>
								</table>
								</td>
								<td align="center" valign="top" width="144">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Regular Survival Bracelet - Wounded Warrior Project" href="http://survivalstraps.com/collections/wounded-warrior-project/products/regular-survival-bracelet-wounded-warrior-project">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/wwp-regular-bracelet-black_compact.jpeg?v=1410481822" alt="Regular Survival Bracelet - Wounded Warrior Project" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Regular Survival Bracelet - Wounded Warrior Project" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/wounded-warrior-project/products/regular-survival-bracelet-wounded-warrior-project">Regular Survival Bracelet - Wounded Warrior Project</a></td>
										</tr>
									</tbody>
								</table>
								</td>
								<td align="center" valign="top" width="144">
								<table border="0" cellpadding="0" cellspacing="0" width="144">
									<tbody>
										<tr>
											<td style="padding-bottom:12px;" align="center">
											<a title="Key Fob - Wounded Warrior Project" href="http://survivalstraps.com/collections/wounded-warrior-project/products/key-fob-wounded-warrior-project">
											<img src="https://cdn.shopify.com/s/files/1/0643/4043/products/dsc_7583_1_compact.jpeg?v=1410481849" alt="Key Fob - Wounded Warrior Project" "="" height="92" width="118" border="0"></a></td>
										</tr>
										<tr>
											<td style="font-family:Arial, Verdana, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:16px; font-weight:bold;" align="center">
											<a title="Key Fob - Wounded Warrior Project" style="text-decoration: none; color: #e07118" href="http://survivalstraps.com/collections/wounded-warrior-project/products/key-fob-wounded-warrior-project">Key Fob - Wounded Warrior Project</a></td>
										</tr>
									</tbody>
								</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="600">
						<tbody>
							<tr>
								<td height="20"></td>
							</tr>
						</tbody>
					</table>
					</td>
					<td bgcolor="#000000" width="9"> </td>
				</tr>
			</tbody>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="620">
			<tbody>
				<tr>
					<td bgcolor="#000000"><img style="display: block;" src="http://media.lt01.net/1/Users/4514/test/spacer.gif" height="10" width="1"></td>
				</tr>
				<tr>
					<td height="19"> </td>
				</tr>
			</tbody>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
			<tbody>
				<tr>
					<td style="font-family:Arial, Verdana, Helvetica, sans-serif; font-size:11px; color:#555555; line-height:15px;" align="left" valign="top" width="332"> </td>
					<td style="font-family:Arial, Verdana, Helvetica, sans-serif; font-size:11px; color:#555555; line-height:15px;" align="left" valign="top"><strong>Survival Straps</strong><br>
					1106 A1A N Suite 100 <br>
					Ponte Vedra Beach, FL 32082 </td>
					<td valign="top" width="92">
					<table border="0" cellpadding="0" cellspacing="0" width="92">
						<tbody>
							<tr>
								<td height="30" valign="top" width="24"> </td>
								<td height="30" width="10"> </td>
								<td height="30" valign="top" width="24"><a title="Facebook" href="http://www.facebook.com/survivalstraps?trk_module=ppe">
								<img src="https://s3.amazonaws.com/sstrapfiles/staticresources/facebook.gif" alt="facebook" style="display: block;" border="0" height="24" width="24"></a></td>
								<td height="30" width="10"> </td>
								<td height="30" valign="top" width="24"><a title="Twitter" href="http://twitter.com/#!/SurvivalStraps?trk_module=ppe">
								<img src="https://s3.amazonaws.com/sstrapfiles/staticresources/Twitter+sm.png" alt="twitter" style="display: block;" border="0" height="24" width="24"></a></td>
							</tr>
							<tr>
								<td valign="top" width="24"> </td>
								<td width="10"> </td>
								<td valign="top" width="24"> </td>
								<td width="10"> </td>
								<td valign="top" width="24"> </td>
							</tr>
						</tbody>
					</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>